* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Proxima Nova";
}
/* Font */
@font-face {
  font-family: "Proxima Nova";
  src: url("../Fonts/ProximaNovaRegular.ttf");
}
@font-face {
  font-family: "Proxima Nova Light";
  src: url("../Fonts/proximanovalight.ttf");
}
/* Button */
@media screen and (min-width: 900px) {
  .secoundMenuBtn {
    background-color: transparent;
    color: #f7f7f7;
    border: none;
    height: 100%;
    padding: 0px 50px;
    font-size: 17px;
    cursor: pointer;
    transition: 0.3s;
    letter-spacing: 0.5px;
  }
  .secoundMenuBtn:hover {
    transition: 0.3s;
  }
  .sMbtn-1:hover {
    background-color: #73ba9d;
  }
  .sMbtn-2:hover {
    background-color: #6baac1;
  }
  .sMbtn-3:hover {
    background-color: #6b83c1;
  }
  .mainButtonDIV {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mainButtonDIV-M {
    margin-right: 100px;
  }
  .mainButton {
    height: 40px;
    border: 2px solid #615b9b;
    border-radius: 3px;
    padding: 0px 15px;
    color: #615b9b;
    font-weight: bold;
    margin: 0px 10px;
    letter-spacing: 0.5px;
    cursor: pointer;
    transition: 0.3s;
    outline: none;
  }
  .mainButton:hover {
    color: #fff;
    background-color: #615b9b;
    transition: 0.3s;
  }
  .mainMenuIcon {
    margin-right: 5px;
  }
}
/* Logo */
@media screen and (min-width: 900px) {
  .logo {
    height: 70px;
    margin: 15px 0px 0px 150px;
  }
}
/* Main Navigation */
.mainNav {
  position: sticky;
  top: 0;
}
@media screen and (min-width: 900px) {
  .mainNav {
    height: 100px;
    position: sticky;
    top: 0;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
  }
  .secoundNavigation {
    position: sticky;
    top: 100px;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
    height: 70px;
    background-color: #1b1740;
  }
}
/* Third Section */

@media screen and (min-width: 900px) {
  .thirdSection {
    height: 350px;
    background: url("../Images/icon-watermark.png");
    background-position: left;
    background-repeat: no-repeat;
  }
  .bgGradient {
    height: 100%;
    background: linear-gradient(to right, #51499ce0, #493481, #20195f);
  }
  .thirdSectionContent {
    text-align: center;
    color: #fff;
    font-size: 40px;
    letter-spacing: 1px;
    padding-top:100px;
    font-family: "Proxima Nova Light";
  }
  .inputSearch {
    font-size: 15px;
    padding: 15px;
    outline: none;
    width: 250px;
    border: none;
    font-weight: 600;
    color: #29303b;
    margin: 50px 3px 0px 2px;
    appearance: none;
    background-color: #fff;
  }
  select {
    background: url("../Images/up-and-down.png") no-repeat left 94.5%
      center/15px 15px;
  }
  .SearchBTN {
    margin: 50px 0px 0px 10px;
    padding: 15px;
    font-size: 15px;
    font-weight: 600;
    background-color: transparent;
    color: #fff;
    border: 1px solid rgb(162 162 162);
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    letter-spacing:.5px;
  }
  .SearchBTN:hover {
    background-color: #1b1740;
    border: 1px solid transparent;
  }
  option{
    font-weight: bold;
    padding:10px 0px;
  }
  /* Fourth Section */
  .contentFour{
    display: flex;
    justify-content:space-between;
  }
  .contentOfFour{
    height:700px;
    width: 100vw;
  }
  .cf1{
    background-color: #73ba9d;
  }
  .cf2{
    background-color:#6baac1;
  }
  .cf3{
    background-color:#6b83c1;
  }
  .cf1Bg,.cf2Bg,.cf3Bg{
    height:350px;
  }
  .cf1Bg{
    background: url('../Images/h3-medical.jpg');
    background-size: cover;
  }
  .cf2Bg{
    background: url('../Images/project.jpg');
    background-size: cover;
  }
  .cf3Bg{
    background: url('../Images/consulting.jpg');
    background-size: cover;
  }
  .cf1coverBG{
    height:350px;
    background:url('../Images/icon-1.png') no-repeat;
    background-position:130% 90%;
    background-size: 50%;
  }
  .cf2coverBG{
    height:350px;
    background:url('../Images/icon-2.png') no-repeat;
    background-position:130% 90%;
    background-size: 50%;
  }
  .cf3coverBG{
    height:350px;
    background:url('../Images/icon-3.png') no-repeat;
    background-position:105% 90%;
    background-size: 40%;
  }
  }